body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.btn-danger {
  background-color: orangered;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.9;
}
